/* League of Legends Cards Project Styles */
/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #0a1428;
    color: #cdbe91;
    min-height: 100vh;
}

.card {
    width: 2.5in;
    height: 3.5in;
    background-color: transparent;
    perspective: 1000px;
    border-radius: 5px;
    margin: 5px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
    color: #cfb53b;
}

.card-front {
    background: radial-gradient(circle at 50% 30%, #4a2a8c, #000000);
}


.card-back {
    background: radial-gradient(circle at 50% 30%, #4a2a8c, #000000);
    color: #c0c0c0;
    transform: rotateY(180deg);
}

.card-title{
    padding: 10px;
    text-align: center;
}

.card-image{
    width: 100%;
    height: 2in;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-status{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
}

.silver {
    color: #c0c0c0;
}

.gold {
    color: #ffd700;
}

.brass {
    color: #b5a642;
}

.gold-warm {
    color: #cfb53b;
}

main{
    
}