/* League of Legends Cards Project Styles */
/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0a1428;
    color: #cdbe91;
    min-height: 100vh;
}

.card {
    width: 5in;
    height: 7in;
    background-color: transparent;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;
}


.card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* Add your LoL card styles below */