/* League of Legends Cards Project Styles */
/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #2a3a58;
    color: #cdbe91;
    min-height: 100vh;
}

.card {
    width: 2.5in;
    height: 3.5in;
    background-color: transparent;
    perspective: 1000px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

/* .card:hover .card-inner {
    transform: rotateY(180deg);
} */

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
    color: #cfb53b;
    border: .1px solid #ffd700;
}

.card-front {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 50% 30%, #4a2a8c, #000000);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #4a2a8c, #000000);
    color: #c0c0c0;
    transform: rotateY(180deg);
}

.card-back img {
    width: 80%;
}

.card-title {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title h1 {
    color: #c0c0c0;
    font-size: 28px;
}

.card-title p {
    font-size: 14px;
    color: #c0c0c0;
    margin-top: 5px;
}

.card-status, .card-tags {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #c0c0c0;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-tags {
    background-color: rgba(0, 0, 0, 0.7);
    font-size:1em;
    border-radius: 0;
    border-bottom:1px dashed rgba(255, 255, 255, 0.1)
}

.card-status div {
    display: inline;
    font-size: 1.5em;
    height: 18px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-status div img {
    width: 18px;
}

.card-status div {
    text-align: left;
}

.silver {
    color: #c0c0c0;
}

.gold {
    color: #ffd700;
}

.brass {
    color: #b5a642;
}

.gold-warm {
    color: #cfb53b;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat{
    padding: 2px;
}

.statusLine{
    text-align: left;
    margin: 6px 5px;
}

.stat-level-controls button,  .stat-level-controls input{
    height: 20px;

}

.stat-level-controls button{
    width: 20px;
    text-align: center;
}

.stat-level-controls input{
    text-align: center;
    background:none;
    border:none;
    color:white;
}
